<h1>What is an Idea</h1>
<div class="jumbotron text-center">
    <h2> Idea</h2>
    <p>In philosophy, ideas are usually taken as mental representational images of some object. Ideas can also be abstract
    concepts that do not present as mental images. Many philosophers have considered ideas to be a fundamental ontological
    category of being.</p>
</div>